<div class="flex flex-col justify-center h-full bg-no-repeat bg-cover bg-center">
    <div class="w-full flex items-center justify-center flex-grow gap-x-12">
        <mat-card class="w-137">
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">
                    <div class="flex flex-row justify-between items-center">
                        <h2>{{ 'COMMON.CREATE_MEDICAMENT' | translate }}</h2>
                        <button mat-icon-button type="button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
                    </div>
                    <mat-form-field>
                        <mat-label>{{ 'COMMON.NAME' | translate }}</mat-label>
                        <input matInput type="text" formControlName="name">
                        @if (this.form.get('name')?.hasError('required')) {
                            <mat-error>{{ 'COMMON.ERROR_NAME_REQUIRED' | translate }}</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'COMMON.DOSAGE' | translate }}</mat-label>
                        <input matInput type="text" formControlName="dosage">
                        @if (this.form.get('dosage')?.hasError('required')) {
                            <mat-error>{{ 'COMMON.ERROR_DOSAGE_REQUIRED' | translate }}</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'COMMON.INSTRUCTIONS' | translate }}</mat-label>
                        <textarea matInput formControlName="instructions" rows="3"></textarea>
                        @if (this.form.get('instructions')?.hasError('required')) {
                            <mat-error>{{ 'COMMON.ERROR_INSTRUCTIONS_REQUIRED' | translate }}</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'COMMON.DEPARTMENT' | translate }}</mat-label>
                        <mat-select formControlName="department" [compareWith]="compareDepartmentById">
                            @for (department of departments$ | async; track department.id) {
                                <mat-option [value]="department">{{ department.name }}</mat-option>
                            }
                        </mat-select>
                        @if (this.form.get('department')?.hasError('required')) {
                            <mat-error>{{ 'COMMON.ERROR_DEPARTMENT_REQUIRED' | translate }}</mat-error>
                        }
                    </mat-form-field>
                    <button [disabled]="form.invalid || form.pristine" mat-flat-button color="primary">{{ 'COMMON.SUBMIT' | translate }}</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
