@use '@angular/material' as mat;
@use '@angular/cdk';
@use 'sass:map';
@use "sass:color";

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');

$fontConfig: (
        plain-family: 'Inter',
        brand-family: 'Inter',
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 400,
);

$fontHierarchy: mat.m2-define-typography-config(
        $font-family: 'Inter',
        $headline-1: mat.m2-define-typography-level(112px, 112px, 300, 'Inter', -0.0134em),
        $headline-2: mat.m2-define-typography-level(56px, 56px, 400, 'Inter', -0.0089em),
        $headline-3: mat.m2-define-typography-level(45px, 48px, 400, 'Inter', 0em),
        $headline-4: mat.m2-define-typography-level(34px, 40px, 400, 'Inter', 0.0074em),
        $headline-5: mat.m2-define-typography-level(34px, 40px, 400, 'Inter', 0.005em),
        $headline-6: mat.m2-define-typography-level(24px, 32px, 400, 'Inter', 0em),
        $subtitle-2: mat.m2-define-typography-level(16px, 28px, 400, 'Inter', 0.0094em),
        $subtitle-1: mat.m2-define-typography-level(15px, 24px, 500, 'Inter', 0.0067em),
        $body-2: mat.m2-define-typography-level(14px, 24px, 500, 'Inter', 0.0179em),
        $body-1: mat.m2-define-typography-level(14px, 24px, 400, 'Inter', 0.0179em),
        $button: mat.m2-define-typography-level(14px, 14px, 500, 'Inter', 0.0893em),
        $caption: mat.m2-define-typography-level(12px, 20px, 400, 'Inter', 0.0333em),
        $overline: mat.m2-define-typography-level(inherit, 1.125, 400, 'Inter', 1.5px),
);

$_palettes: (
        primary: (
                0: var(--primary-color-0),
                10: var(--primary-color-10),
                20: var(--primary-color-20),
                25: var(--primary-color-25),
                30: var(--primary-color-30),
                35: var(--primary-color-35),
                40: var(--primary-color-40),
                50: var(--primary-color-50),
                60: var(--primary-color-60),
                70: var(--primary-color-70),
                80: var(--primary-color-80),
                90: var(--primary-color-90),
                95: var(--primary-color-95),
                98: var(--primary-color-98),
                99: var(--primary-color-99),
                100: var(--primary-color-100),
        ),
        secondary: (
                0: var(--secondary-color-0),
                10: var(--secondary-color-10),
                20: var(--secondary-color-20),
                25: var(--secondary-color-25),
                30: var(--secondary-color-30),
                35: var(--secondary-color-35),
                40: var(--secondary-color-40),
                50: var(--secondary-color-50),
                60: var(--secondary-color-60),
                70: var(--secondary-color-70),
                80: var(--secondary-color-80),
                90: var(--secondary-color-90),
                95: var(--secondary-color-95),
                98: var(--secondary-color-98),
                99: var(--secondary-color-99),
                100: var(--secondary-color-100),
        ),
        tertiary: (
                0: var(--tertiary-color-0),
                10: var(--tertiary-color-10),
                20: var(--tertiary-color-20),
                25: var(--tertiary-color-25),
                30: var(--tertiary-color-30),
                35: var(--tertiary-color-35),
                40: var(--tertiary-color-40),
                50: var(--tertiary-color-50),
                60: var(--tertiary-color-60),
                70: var(--tertiary-color-70),
                80: var(--tertiary-color-80),
                90: var(--tertiary-color-90),
                95: var(--tertiary-color-95),
                98: var(--tertiary-color-98),
                99: var(--tertiary-color-99),
                100: var(--tertiary-color-100),
        ),
        neutral: (
                0: var(--neutral-color-0),
                10: var(--neutral-color-10),
                20: var(--neutral-color-20),
                25: var(--neutral-color-25),
                30: var(--neutral-color-30),
                35: var(--neutral-color-35),
                40: var(--neutral-color-40),
                50: var(--neutral-color-50),
                60: var(--neutral-color-60),
                70: var(--neutral-color-70),
                80: var(--neutral-color-80),
                90: var(--neutral-color-90),
                95: var(--neutral-color-95),
                98: var(--neutral-color-98),
                99: var(--neutral-color-99),
                100: var(--neutral-color-100),
                4: var(--neutral-color-4),
                6: var(--neutral-color-6),
                12: var(--neutral-color-12),
                17: var(--neutral-color-17),
                22: var(--neutral-color-22),
                24: var(--neutral-color-24),
                87: var(--neutral-color-87),
                92: var(--neutral-color-92),
                94: var(--neutral-color-94),
                96: var(--neutral-color-96),
        ),
        neutral-variant: (
                0: var(--neutral-variant-color-0),
                10: var(--neutral-variant-color-10),
                20: var(--neutral-variant-color-20),
                25: var(--neutral-variant-color-25),
                30: var(--neutral-variant-color-30),
                35: var(--neutral-variant-color-35),
                40: var(--neutral-variant-color-40),
                50: var(--neutral-variant-color-50),
                60: var(--neutral-variant-color-60),
                70: var(--neutral-variant-color-70),
                80: var(--neutral-variant-color-80),
                90: var(--neutral-variant-color-90),
                95: var(--neutral-variant-color-95),
                98: var(--neutral-variant-color-98),
                99: var(--neutral-variant-color-99),
                100: var(--neutral-variant-color-100),
        ),
        error: (
                0: var(--error-color-0),
                10: var(--error-color-10),
                20: var(--error-color-20),
                25: var(--error-color-25),
                30: var(--error-color-30),
                35: var(--error-color-35),
                40: var(--error-color-40),
                50: var(--error-color-50),
                60: var(--error-color-60),
                70: var(--error-color-70),
                80: var(--error-color-80),
                90: var(--error-color-90),
                95: var(--error-color-95),
                98: var(--error-color-98),
                99: var(--error-color-99),
                100: var(--error-color-100),
        ),
);

$_rest: (
        secondary: map.get($_palettes, secondary),
        neutral: map.get($_palettes, neutral),
        neutral-variant: map.get($_palettes, neutral-variant),
        error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);


$light-theme: (
        color: (
                theme-type: light,
                primary: $primary-palette,
                tertiary: $tertiary-palette,
        ),
        typography: $fontConfig,
        density: 0,
);

html {
  @include mat.theme($light-theme);
  @include mat.typography-hierarchy($fontHierarchy);

  body {
    background: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
  }
}
