<div class="flex flex-col justify-center h-full bg-no-repeat bg-cover bg-center">
    <div class="w-full flex items-center justify-center flex-grow gap-x-12">
        <mat-card class="w-137">
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">
                    <div class="flex flex-row justify-between items-center">
                        <h2>{{ 'COMMON.CREATE_ROOM' | translate }}</h2>
                        <button mat-icon-button type="button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
                    </div>
                    <mat-form-field>
                        <mat-label>{{ 'COMMON.ROOM_NUMBER' | translate }}</mat-label>
                        <input matInput type="number" formControlName="roomNumber">
                        @if (this.form.get('roomNumber')?.hasError('required')) {
                            <mat-error>
                                {{ 'COMMON.ERROR_ROOM_NUMBER_REQUIRED' | translate }}
                            </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'COMMON.ROOM_TYPES' | translate }}</mat-label>
                        <mat-select formControlName="roomType">
                            @for (type of types; track type) {
                                <mat-option [value]="type">
                                    {{ ('COMMON.' + type) | translate }}
                                </mat-option>
                            }
                        </mat-select>
                        @if (this.form.get('roomType')?.hasError('required')) {
                            <mat-error>
                                {{ 'COMMON.ERROR_ROOM_TYPE_REQUIRED' | translate }}
                            </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'COMMON.CAPACITY' | translate }}</mat-label>
                        <input matInput type="number" formControlName="capacity" [max]="form.get('roomType')?.value === 'RECOVERY' ? 5 : null">
                        @if (form.get('capacity')?.hasError('required')) {
                            <mat-error>{{ 'COMMON.ERROR_CAPACITY_REQUIRED' | translate }}</mat-error>
                        }
                        @if (form.get('capacity')?.hasError('max')) {
                            <mat-error>{{ 'COMMON.ERROR_CAPACITY_MAX_RECOVERY' | translate }}</mat-error>
                        }
                        @if (form.get('capacity')?.hasError('min')) {
                            <mat-error>{{ 'COMMON.ERROR_CAPACITY_MIN' | translate }}</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'COMMON.HOSPITAL' | translate }}</mat-label>
                        <input matInput [value]="currentUser()?.hospital?.name" readonly>
                    </mat-form-field>
                    <button [disabled]="form.invalid || form.pristine" mat-flat-button color="primary">{{ 'COMMON.SUBMIT' | translate }}</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
