<mat-toolbar>
    <!-- Desktop nav -->
    <div class="hidden md:flex flex-row gap-x-8">
        @if (!authService.hasRole(Role.PATIENT)) {
            <button mat-button [routerLink]="['/hospitals']">
                {{ 'COMMON.HOSPITAL' | translate }}
            </button>
        }
        <button mat-button [routerLink]="['/appointments']">
            {{ 'COMMON.APPOINTMENTS' | translate }}
        </button>
        <button mat-button [matMenuTriggerFor]="profileMenu">
            {{ 'COMMON.PROFILE' | translate }}
        </button>
    </div>

    <!-- Mobile nav -->
    <div class="flex md:hidden">
        <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <mat-menu #mobileMenu="matMenu">
        <ng-template matMenuContent>
            @if (!authService.hasRole(Role.PATIENT)) {
                <a mat-menu-item [routerLink]="['/hospitals']">{{ 'COMMON.HOSPITAL' | translate }}</a>
            }
            <a mat-menu-item [routerLink]="['/appointments']">{{ 'COMMON.APPOINTMENTS' | translate }}</a>
            <mat-divider></mat-divider>
            @if (authService.hasRole(Role.ADMIN_SYSTEM)) {
                <a mat-menu-item [routerLink]="['/' + ROUTE_ADD_USER]">{{ 'COMMON.REGISTER' | translate }}</a>
            }
            @if (currentUser(); as currentUser) {
                <a mat-menu-item [routerLink]="['/edit-profile/' + currentUser.id]">{{ 'COMMON.EDIT_PROFILE' | translate }}</a>
            }
            <a mat-menu-item [routerLink]="['/change-password']">{{ 'COMMON.CHANGE_PASSWORD' | translate }}</a>
            <a mat-menu-item (click)="logout()">{{ 'COMMON.LOGOUT' | translate }}</a>
        </ng-template>
    </mat-menu>

    <mat-menu #profileMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
            @if (authService.hasRole(Role.ADMIN_SYSTEM)) {
                <a mat-menu-item [routerLink]="['/' + ROUTE_ADD_USER]">{{ 'COMMON.REGISTER' | translate }}</a>
            }
            @if (currentUser(); as currentUser) {
                <a mat-menu-item [routerLink]="['/edit-profile/' + currentUser.id]">{{ 'COMMON.EDIT_PROFILE' | translate }}</a>
            }
            <a mat-menu-item [routerLink]="['/change-password']">{{ 'COMMON.CHANGE_PASSWORD' | translate }}</a>
            <a mat-menu-item (click)="logout()">{{ 'COMMON.LOGOUT' | translate }}</a>
        </ng-template>
    </mat-menu>
</mat-toolbar>
<router-outlet/>
