<mat-toolbar>
    <div class="flex flex-row gap-x-32">
        @if (!authService.hasRole(Role.PATIENT)) {
            <button mat-button [matMenuTriggerFor]="centerMenu">
            Hospital
        </button>
        }
        <button mat-button [routerLink]="['/appointments']">
            Appointments
        </button>
        <button mat-button [matMenuTriggerFor]="profileMenu">
            Profile
        </button>
    </div>
    <mat-menu #centerMenu="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <a mat-menu-item [routerLink]="['/hospitals']">Hospitals</a>
                <a mat-menu-item [routerLink]="['/users']">Users</a>
                <a mat-menu-item [routerLink]="['/rooms']">Rooms</a>
                <a mat-menu-item [routerLink]="['/equipments']">Equipments</a>
            </ng-template>
    </mat-menu>

    <mat-menu #profileMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
            @if (authService.hasRole(Role.ADMIN_SYSTEM)) {
                <a mat-menu-item [routerLink]="['/register']">Register</a>
            }
            @if (currentUser(); as currentUser) {
                <a mat-menu-item [routerLink]="['/edit-profile/' + currentUser.id]">Edit profile</a>
            }
            <a mat-menu-item [routerLink]="['/change-password']">Changed password</a>
            <a mat-menu-item (click)="logout()">Logout</a>
        </ng-template>
    </mat-menu>
</mat-toolbar>
<router-outlet/>
