<mat-toolbar>

  <div *ngIf="!user">
    <a [routerLink]="['/login']">Login</a>
    <a [routerLink]="['/register']">Register</a>
    <a [routerLink]="['/search']">Search</a>
  </div>

  <div *ngIf="user">
    <div class="dropdown">
      <button class="dropbtn">Appointments
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['/create-appointment']">Create appointment</a>
        <a [routerLink]="['/appointments']">Appointments</a>
        <a [routerLink]="['/calendar']">Calendar</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Center account
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['/center']">Update center</a>
        <a [routerLink]="['/blood']">Blood types</a>
        <a [routerLink]="['/users']">Users that donated</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Profile
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['/edit-profile']">Edit profile</a>
        <a [routerLink]="['/change-password']">Changed password</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>