<div class="page">
    <mat-card>
        <mat-card-subtitle>Blood type A</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>Amount:{{bloodA?.amount}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Blood type B</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>Amount:{{bloodB?.amount}}</button>
        </mat-card-actions> </mat-card>
    <mat-card>
        <mat-card-subtitle>Blood type AB</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>Amount:{{bloodAB?.amount}}</button>
        </mat-card-actions> </mat-card>
    <mat-card>
        <mat-card-subtitle>Blood type 0</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>Amount:{{bloodZero?.amount}}</button>
        </mat-card-actions> </mat-card>
</div>