<div class="flex flex-col justify-center h-full bg-no-repeat bg-cover bg-center">
    <div class="w-full flex items-center justify-center flex-grow gap-x-12">
            <mat-card class="w-137">
                <mat-card-content>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">
                        <div class="flex flex-row justify-between items-center">
                            <h2>{{ 'COMMON.CREATE_HOSPITAL' | translate }}</h2>
                            <button mat-icon-button type="button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
                        </div>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.NAME' | translate }}</mat-label>
                            <input matInput formControlName="name">
                            @if (this.form.get('name')?.hasError('required')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_HOSPITAL_NAME_REQUIRED' | translate }}
                                </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.COUNTRY' | translate }}</mat-label>
                            <input matInput formControlName="country">
                            @if (this.form.get('country')?.hasError('required')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_COUNTRY_REQUIRED' | translate }}
                                </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.CITY' | translate }}</mat-label>
                            <input matInput formControlName="city">
                            @if (this.form.get('city')?.hasError('required')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_CITY_REQUIRED' | translate }}
                                </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.ADDRESS' | translate }}</mat-label>
                            <input matInput formControlName="address">
                            @if (this.form.get('address')?.hasError('required')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_ADDRESS_REQUIRED' | translate }}
                                </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.DESCRIPTION' | translate }}</mat-label>
                            <textarea matInput formControlName="description" rows="3"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.START_TIME' | translate }}</mat-label>
                            <input matInput formControlName="startTime" [ngxMatTimepicker]="pickerA" [format]="24">
                            <mat-icon matSuffix (click)="pickerA.open()"> watch_later</mat-icon>
                            <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
                            @if (this.form.get('startTime')?.hasError('required')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_START_TIME_REQUIRED' | translate }}
                                </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.END_TIME' | translate }}</mat-label>
                            <input matInput formControlName="endTime" [ngxMatTimepicker]="pickerB" [format]="24">
                            <mat-icon matSuffix (click)="pickerB.open()"> watch_later</mat-icon>
                            <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>
                            @if (this.form.get('endTime')?.hasError('required')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_END_TIME_REQUIRED' | translate }}
                                </mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.LATITUDE' | translate }}</mat-label>
                            <input type="text" matInput formControlName="latitude">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.LONGITUDE' | translate }}</mat-label>
                            <input type="text" matInput formControlName="longitude">
                        </mat-form-field>
                        <button [disabled]="form.invalid || form.pristine" mat-flat-button color="primary">{{ 'COMMON.SUBMIT' | translate }}</button>
                    </form>
                </mat-card-content>
            </mat-card>

    </div>
</div>
