<div class="flex flex-col justify-center h-full bg-no-repeat bg-cover bg-center">
    <div class="w-full flex items-center justify-center flex-grow">
        <mat-card class="p-8">
            <div class="flex flex-col justify-center items-center space-y-12">
                <div class="w-137">
                    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col space-y-4">
                        <h2>{{ ('COMMON.LOGIN' | translate) }}</h2>
                        <!-- EMAIL -->
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.EMAIL' | translate }}</mat-label>
                            <input matInput type="email" formControlName="email"/>
                            @if (form.get('email')?.hasError('required')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_REQUIRED' | translate }}
                                </mat-error>
                            }
                            @if (form.get('email')?.hasError('email')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_NOT_EMAIL_FORMAT' | translate }}
                                </mat-error>
                            }
                        </mat-form-field>
                        <!-- PASSWORD -->
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.PASSWORD' | translate }}</mat-label>
                            <input matInput [type]="'password'" autocomplete="new-password" formControlName="password"/>
                            @if (form.get('password')?.hasError('required')) {
                                <mat-error>
                                    {{ 'COMMON.ERROR_REQUIRED' | translate }}
                                </mat-error>
                            }
                        </mat-form-field>
                        <!-- BUTTONS -->
                        <div class="flex justify-between items-center">
                            <button mat-flat-button (submit)="submit()" [disabled]="!form.valid">{{ 'COMMON.SUBMIT' | translate }}</button>
                            <a routerLink="/register">{{ 'COMMON.REGISTER_ACCOUNT' | translate }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
    </div>
</div>
