<div class="column">
    <div class="row">
        <h2>Patient: {{appointment.patient?.firstName}} {{appointment.patient?.lastName}}</h2>
    <mat-card>
        <mat-card-subtitle>Weight</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>{{appointment?.poll.weight}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Sickness</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>{{appointment?.poll.sickness}}</button>
        </mat-card-actions> </mat-card>
    <mat-card>
        <mat-card-subtitle>Infection</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>{{appointment?.poll.infection}}</button>
        </mat-card-actions> </mat-card>
    <mat-card>
        <mat-card-subtitle>Pressure</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>{{appointment?.poll.pressure}}</button>
        </mat-card-actions>
     </mat-card>
     <mat-card>
        <mat-card-subtitle>Therapy</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>{{appointment?.poll.therapy}}</button>
        </mat-card-actions>
     </mat-card>
     <mat-card>
        <mat-card-subtitle>Cycle</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>{{appointment?.poll.cycle}}</button>
        </mat-card-actions>
     </mat-card>
     <mat-card>
        <mat-card-subtitle>Dental intervention</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>{{appointment?.poll.dentalIntervention}}</button>
        </mat-card-actions>
     </mat-card>
     <mat-card>
        <mat-card-subtitle>Piercring</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button>{{appointment?.poll.piercing}}</button>
        </mat-card-actions>
     </mat-card>
    </div>
    <br>
     <div class="row">
     <button [routerLink]="['/appointment-report']" [disabled]="!appointment?.poll.dentalIntervention || !appointment?.poll.cycle || !appointment?.poll.therapy || !appointment?.poll.pressure || !appointment?.poll.infection || !appointment?.poll.sickness || !appointment?.poll.weight || !appointment?.poll.piercing" > Approve
     </button>
     <br>
     <span class="strong" *ngIf="!appointment?.poll.dentalIntervention || !appointment?.poll.cycle || !appointment?.poll.therapy || !appointment?.poll.pressure || !appointment?.poll.infection || !appointment?.poll.sickness || !appointment?.poll.weight || !appointment?.poll.piercing">This user is not eligable for blood transfer!</span>
     <br>
     <button [routerLink]="['/appointments']" >Go back</button>
    </div>
  </div>
  
  
  